<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<title></title>
<link href="__CSS__/mobile_module.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<link href="{:ADDON_PUBLIC_PATH}/vote.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
var cknums = {$info.cknums|intval};
var type = "{$info.type|intval}";
function checkForm(){
	return true;
	
	if(type=='0') return true;
	
	var content = '';
	var msg = 0;
	$("input[type='checkbox']:checked").each(function(){ msg += 1; });
	//console.log(msg);
	//return false;
	if(msg>cknums){
		$('#errorInfo').html('该投票最多可同时选择'+cknums+'项').show();
		return false;
	}

	return true;
}
</script>
</head>
<body>
<div class="container body">
	<div class="vote_wrap">
  <article>
  	<div class="img_wrap">
        
        <php>if(!empty($info['picurl'])) { </php>
        	<img width="100%" src="{$info.picurl|get_cover_url}">
        	<h2>{$info.title}</h2>
        <php> }else{ </php>
        	<h2 style="position:static">{$info.title}</h2>
        <php>}</php>
    </div>
    <div class="vote_info mb">主办单位：<a>{$owner|htmlspecialchars_decode}</a></div>
    <div class="vote_info mb">{$info.description|htmlspecialchars_decode}</div>
    <notempty name="info.end_date"><p class="time">投票截止日期：{$info.end_date|time_format}</p></notempty>
    <if condition="($mid lt 0) "><notempty name="info.is_fans"><p class="info">注意事项：需要关注微信号才能进行投票<br/><img src="{$info.qrcode|get_cover_url}"></p></notempty></if>
  </article>
  <p class="vote_type">
      本次投票为<php>if($info['type']==0) { $type='radio';$style_cls='regular-radio';echo '单选投票<br>';}else{ $type='checkbox';$style_cls='regular-checkbox';echo '多选投票<br>';}</php>
      
      <php>if($canJoin) {</php>
      
      <php>if($info['result_display']==0) {</php>
      <span class="gray">已经有{$info.vote_count|intval}人投票，赶紧投下你宝贵的一票吧 :)</span>
      <php>}</php>
      
      <php>}else{</php>
      <span class="gray">投票已过期或你已经投过票 :)</span>
      <php>}</php>
      
    </p>
    
  <form id="form1" name="form1" method="post" action="{:U( 'join' )}" onSubmit="return checkForm();">
    <div class="clearfix choice_list">
      <ul>
        <volist name=":parse_config_attr($model['field_group'])" id="group">
              <volist name="fields[$key]" id="field">
                <li>
                  <div class="form-item cf">
                    <label class="item-label">{$field['title']}<span class="check-tips">
                      <notempty name="field['remark']">（{$field['remark']}）</notempty>
                      </span></label>
                    <div class="controls">
                      <switch name="field.type">
                        <case value="datetime">
                          <p class="gray">{$data[$field['name']]|time_format}</p>
                        </case>
                        <case value="cascade">
                        <div id="cascade_{$field.name}"></div>
                        {:hook('cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        </case>                         
                        <case value="editor">
                          <p class="gray">{:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))}</p>
                        </case>
                        <case value="picture">
                          <div class="controls">
                            <div class="upload-img-box">
                              <notempty name="data[$field['name']]">
                                <div class="upload-pre-item"><img src="__ROOT__{$data[$field['name']]|get_cover='path'}"/></div>
                              </notempty>
                            </div>
                          </div>
                        </case>
                        <case value="file">
                          <div class="controls">
                            <div class="upload-img-box">
                              <present name="data[$field['name']]">
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                              </present>
                            </div>
                          </div>
                        </case>
                        <default/>
                        {$data[$field['name']]}
                      </switch>
                    </div>
                  </div>
                </li>
              </volist>
          </volist>
      </ul>
    </div>
    
    <div class="warning" id="errorInfo"></div>
    <input type="hidden" name="optArr[]" value="{:I('opt_id')}">
    <input type="hidden" value="{:I('token')}" name="token" />
    <input type="hidden" value="{:I('wecha_id')}" name="wecha_id" />
    <input type="hidden" value="{$info.id}" name="vote_id" />
    <php>if($canJoin) { </php>
    <div class="tb"><input type="submit" class="btn m_10 flex_1" value="投票" /></div>
    <php> }else if(!empty($info['next_id'])) { $next_url = U('Vote/show','id='.$info['next_id'].'&token='.I('token').'&wecha_id='.I('wecha_id'));</php>
    <div class="tb"><input type="button" class="btn m_10 flex_1" onClick="window.location.href='{$next_url}'" value="继续投票" /></div>
    <php> } </php>
    <php>if($next_opt_id) { </php>
    <div class="tb"><a href="{:U('single','opt_id='.$next_opt_id.'&vote_id='.$info['id'])}" class="btn m_10 flex_1">下一个</a></div>
    <php> } </php>
    <php>if($pre_opt_id) { </php>
    <div class="tb"><a href="{:U('single','opt_id='.$pre_opt_id.'&vote_id='.$info['id'])}" class="btn m_10 flex_1">上一个</a></div>
    <php> } </php>
    <div class="tb"><a href="{:U('show','id='.$info['id'])}" class="btn m_10 flex_1">返回投票首页</a></div>

    <php>if(!$canJoin && !empty($event_url)) { </php>
     <div class="tb"><a href="{$event_url}" class="btn m_10 flex_1" style="background-color:#f36637">参加抽奖活动</a></div>
     <php> } </php>
     
     <div class="tb" id="close_page" style="display:none"><input type="button" id="close_page_btn" class="btn m_10 flex_1" value="关闭返回" /></div>
  </form>
  <article>
    <div class="vote_info mb">主办单位：<a>{$owner|htmlspecialchars_decode}</a></div>
    <!-- <div class="vote_info mb">{$info.end|htmlspecialchars_decode}</div> -->
    <div class="vote_info mb">{$info.rank|htmlspecialchars_decode}</div>
    <div class="vote_info mb">按右上角三个点按钮即可分享给朋友或朋友圈拉票</div>
    <!-- 关注后才能进行投票 -->
    <php>if(!$canJoin) { </php>
      <div class="vote_info mb">关注才能看到投票按钮哦</div>
      <iframe src="{:addons_url('Leaflets://Leaflets/show')}" width="100%" frameborder="0" style="overfloat:hidden;height:600px;"></iframe>
      <!-- <div id="Qcode"></div> -->
    <php> } </php>
  </article>
  </div>
</div>
</body>
</html>
<script>
function init_close(){
		$('#close_page').show();
		$('#close_page_btn').click(function(){
			  WeixinJSBridge.invoke('closeWindow',{},function(res){;});
		});	
}
$(function(){
	
	<php>
	foreach($opts as $k=>$v){
	echo '$(".vote-per-'.$k.'").animate( { width: "'.$v['percent'].'%"}, 5000);';
	}
	</php>
	
	$(".list").click(function () {
		 if ($(this).hasClass("bgBlue")) {
			 $(this).removeClass("bgBlue").find("input").attr("checked", true);
		 } else {
			 $(this).addClass("bgBlue").find("input").attr("checked", false);
		 }
	 });
	 
	if (typeof WeixinJSBridge == "undefined"){
		if( document.addEventListener ){
			document.addEventListener('WeixinJSBridgeReady', init_close, false);
		}else if (document.attachEvent){
			document.attachEvent('WeixinJSBridgeReady', init_close); 
			document.attachEvent('onWeixinJSBridgeReady', init_close);
		}
	}else{
		init_close();
	}	   
});
</script>