<include file="Public/mobile_head" />
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/css/myOrder.css">
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/css/userinfo.css">
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/userinfo.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/new.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/orderlist.js"></script>
<style type="text/css">
.Order-details {
	float:left;
	width: 100%;
}
.Order-details .Big-title{
	font-size:16px;
	font-weight:bold;
	float:left;
	margin:10px;
}
.Order-details ul {
	float:left;
	width: 100%;
	padding-left: 10px;
	display:block;
	border-bottom:solid 2px #dddddd;
}
.Order-details ul li {
	float:left;
	width:16%;
	height:50px;
	line-height:50px;
	font-size:12px;
	font-weight:bold;
}
.Order-details dl {
	float:left;
	width: 100%;
	display:block;
	border-bottom:solid 1px #dddddd;
	padding:8px 0px;
	padding-left: 10px;
	color:#333333;
}
.Order-details dl dt{
	width:16%;
	float:left;

}
.Order-details dl dt a {
	font-size: 12px;
	color: #333;
}

.Order-details dl dd {
	width:16%;
	float:left;
	margin: 5px 0px; 
	font-size:12px;
	line-height: 12px;
}
.Order-details dl dd p {
	font-size: 0.8em;
	line-height: 10px;
}
</style>
<body id="shop">
    <div class="header">
        <a class="back" href="javascript:history.go(-1);"></a>
        <span class="title">会员订单列表</span>
        <a href="javascript:void(0)" onclick="Cart.setCartEmpty()" style="float:right;">
            <em class="cart_icon" style="padding-right:15px;"></em>
        </a>
    </div>
    <div class="container" id="container">
        <!-- <volist  name='list' id="vo">
		<div class='user_list' style="display:block; line-height:30px; margin-bottom:10px;">
			<img src="{$vo.headimgurl}" style="height:30px;"><span style="margin-right:20px;">{$vo.nickname}</span>
		</div>
	</volist> --> 
	<div class="Order-details">
	 <span class="Big-title" id="total">合计提成(0元)</span>
    <ul>
     <li>订单ID</li>
     <li>&nbsp;商品</li>
     <li>价格</li>
     <li>提成</li>
     <li>下单人</li>
     <li>时间</li>
    </ul>
    <div id="orderContainer">
    </div>
</div>
    </div>
    <!-- <div class="Box-Layout" id="more" onclick="getPassFlag()">
   <a class="Click-box">点击更多</a>
</div> -->
    <!-- 底部导航 -->
    {$footer_html}
    <!-- 统计代码 -->
    <notempty name="config.code">
        <p class="hide bdtongji">
            {$config.code}
        </p>
    </notempty>
<script type="text/javascript">
  var page = 1;
  var zjhy = 0;
  var zjpage_sum = 0;
  var page_count = 100;
  var hy_count = 0;
  var type = "{$hyType}";
  var openid = "{$openid}";
  var container = $("#orderContainer");
  var jjhyxd = 0;
  var zjhyxd = 0;
  var total = 0;
  $(function(){
    Order.init();
  });
</script>
</body>

</html>
