<include file="Public/mobile_head"/>
<link href="__ROOT__ /Addons/Diy/View/default/Public/css/diy.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script src="__ROOT__ /Addons/Diy/View/default/Public/js/diy.js?v={:SITE_VERSION}" type="text/javascript"></script>
<style type="text/css">
html{overflow: hidden;}
.wrapper em{ width:30px; height:15px;line-height: 15px;border-radius: 3px; float:left; color:#FFF; font-size:10px; font-family:Verdana, Geneva, sans-serif;background:#333; margin:0 0 -20px 10px; padding:2px 5px 2px 5px; z-index:999; position:absolute; top:10px;}
</style>
<body id="diyMobile" style="<notempty name="background">background-image:url({$background});</notempty>background-size:100% 100%;max-width:640px;overflow:hidden;">
    <!--横幅广告-->
    <div class="wrapper" id="snActive-wrap"> 
    <!-- <em title="关闭广告">Close</em> -->
    <a target="_blank" name="redbaby_none_ggw_dt01" title="小图" href="#"></a>
    <a target="_blank" name="redbaby_none_ggw_dt01" title="大图"   href="#"></a>
    </div>
	<div id="container" class="container body">
    	<div id="phoneArea" class="mobile_show">
        <volist name="layouts" id="layout">
                <!-- 每行的布局处理 -->
            <div class="layout_row" data-type="{$layout.type}">
               <volist name="layout.widgets" id="widget">
                 <!-- 每个布局里的模块处理 -->
                <div class="layout_item" <notempty name="widget.widget_height"> style="height:{$widget.widget_height}px"</notempty>>{$widget.html}</div>
                </volist>
            </div>
            </volist>
        </div>
    </div>

</body>
<script type="text/javascript">
  	$(function(){
		$('.layout_row').each(function(index, element) {
            initItemLayoutAndAction($(this),$(this).data('type'),false);
        });
		})
</script>
<script src="__ROOT__ /Addons/Diy/View/default/Public/js/jquery-1.8.3.min.js?v={:SITE_VERSION}" type="text/javascript"></script>

</html>